language: node_js
node_js:
  - 8

cache:
  directories:
    - "node_modules"

before_script:
  - npm prune

after_success:
  - npx semantic-release

branches:
  only:
    - master
    - /^greenkeeper/.*$/
